*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

header {
    background-color: #f0bc2a;
    text-shadow: 2px 2px hsl(0deg 0% 0% / 20%);
    color: black;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.title span {
    color: #c72b2d;
}

.logo-div {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    position: relative;
}

.logo {
    height: 5rem;
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: center;
}

nav {
    height: 100%
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
    padding: 0 .7rem 0 .7rem;
    cursor: pointer;
}

.nav-link-top {
    text-decoration: none;
    color: black;
    display: flex;
    gap: .35rem;
    width: 100%;
    padding: 1.38rem;
    cursor: pointer;
}


.nav-link-top:hover {
    background: #c72b2d;
    color: white;
}


#cats-list {
    top: 100%;
    position: absolute;
    list-style: none;
    background: #f0bc2a;
}

#cats-list li {
    text-decoration: none;
    color: black;
    padding: .5rem;
    cursor: pointer;
}

#cats-list li:hover {
    background: #c72b2d;
    color: white;
}

#dogs-list {
    top: 100%;
    position: absolute;
    list-style: none;
    background: #f0bc2a;
}

#dogs-list li {
    text-decoration: none;
    color: black;
    padding: .5rem;
    cursor: pointer;
}

#dogs-list li:hover {
    background: #c72b2d;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@keyframes rotation {
    50% {
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

.logo-rotate {
    animation: rotation 3s linear;
}

@keyframes drop {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(7px)
    }
}

@keyframes show-ul {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1)
    }
}

@keyframes show-links {
    0% {
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

.show-ul {
    animation: show-ul .6s ease-in-out;
    transform-origin: top;
}

.drop {
    animation: drop .8s forwards;
}

.show-opacity {
    animation: show-links .8s forwards;
}

.hide-opacity {
    opacity: 0;
}

/* blog css */ 

.post-section {
    display: block;
    background-image: url('../../media/pexels-luca-finardi-7277649.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.post-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
    width: 100%;
}

.post-section h1 {
    font-family: 'Merriweather',
    sans-serif;
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 8rem;
    text-shadow: 2px 2px hsl(0deg 0% 0% / 20%);
}

.overlay {
    height: 100%;
    width :100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .8rem 1.5rem rgba(0, 0, 0, 0.4);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

.tag+.tag {
    margin-left: .5em;
}


.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info>small {
    color: #666;
}