{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<main class="blog-main">
    <div class="blog-section">
        <div class="blog-image">
            {% if 'placeholder' in post.featured_image.url %}
            <img src="{{ MEDIA_URL }}kittens-3535404_640.jpg" alt="image from {{ post.title }}" class="post-image">
            {% else %}
            <img src="{{ post.featured_image.url }}" alt="image from {{ post.title }}" class="post-image">
            {% endif %}
        </div>
        <div class="blog-title">
            <h1>{{ post.title }}</h1>
            <p>Category: {{ post.category }}</p>
            <p>By: {{ post.author }} | {{ post.created_on }}</p>
        </div>
        <div class="blog-content">
            <p class="post-content">{{ post.content | safe }}</p>
            <div class="like-div">
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'post_like' post.slug %}">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blog_post_id" value="{{ post.slug }}" class="like-button"><i
                            class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blog_post_id" value="{{ post.slug }}" class="unlike-button"><i
                            class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                <span>
                    {% else %}
                    <i class="far fa-heart"></i>
                    {% endif %}
                    {% if post.number_of_likes == None %}
                    {% else %}
                    {{ post.number_of_likes }}
                    {% endif %}
                    {% with comments.count as total_comments %}
                    <strong><i class="far fa-comments"></i> {{ total_comments }}</strong>
                    {% endwith %}
                </span>
            </div>
        </div>
    </div>
</main>
<section class="comments-section">
    <div class="comments-container">
        <div class="comments">
            <h2>Comments</h2>
            <div class="comment-container">
                {% for comment in comments %}
                <p>{{ comment.body | linebreaks }}</p>
                <small>by: <strong>{{ comment.name }}</strong> on : {{ comment.created_on }}</small>
                <hr>
                {% endfor %}
            </div>
        </div>
        <div class="comment-form">
            <div class="comment-container">
                {% if commented %}
                <p class="post-response">Your comment is awaiting approval!</p>
                {% else %}
                {% if user.is_authenticated %}
                <h2>Leave A Comment</h2>
                <p>Posting as : {{ user.username }}</p>
                <form method="POST" action="">
                    {{ comment_form | crispy}}
                    {% csrf_token %}
                    <button class="green-button" type="submit">Post</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
