{% extends 'base.html' %}
{% block content %}
<section class="form-section">
    <div class="post-form">
        <h1>
            Neutering
        </h1>
        <hr>
        <small>Neutering your cats and dogs is one of the most important things you can do for your companion
            animals.</small>
        <hr>
        <h2>
            What is Neutering?
        </h2>
        <p>
            Neutering is the process whereby animal companions are surgically prevented from reproducing. In males the
            operation is called 'castration'; in females, 'spaying'. Both of these operations are performed under
            general anaesthetic.

            When a male is castrated both testicles are removed, which takes away the main source of the male hormone
            testosterone. As the testosterone levels fall to a minimal level after castration, the effects of this
            hormone are also reduced.

            When a female is spayed both the ovaries and the uterus (womb) are removed. This means that the animal is
            unable to become pregnant, and will no longer come into season.
        </p>
        <h2>
            Why Neuter?
        </h2>
        <p>
            There are several very good reasons to have your companion neutered.
        </p>
        <ul class="outer-list">
            <li>
                <h4>To avoid unwanted litters</h4>
                <hr>
                <p>Need we say more?</p>
            </li>
            <li>
                <h4>For your companion's health</h4>
                <hr>
                <p>Neutered companions will, generally, live longer, healthier lives than unneutered ones. Here are some
                    of the reasons why:</p>
                <ul class="inner-list">
                    <li>Spaying female dogs (bitches) and cats, especially if carried out when they are young, will
                        greatly reduce the risk of breast cancers and infection of the womb - these are common and
                        frequently fatal conditions in older, unspayed females.
                    </li>
                    <li>
                        Both pregnancy and giving birth carry significant risks to the mother.
                    </li>
                    <li>
                        Many bitches will have a false pregnancy following their season. While this is natural, it can
                        lead to behavioural problems and even, in some cases, medical ones. Neutering prevents this.
                    </li>
                    <li>
                        In male dogs castration will significantly reduce the incidence of prostate disease, and reduce
                        the risk of some cancers.
                    </li>
                    <li>
                        Neutering male dogs and cats reduces their urges to roam and to fight - as a result they are
                        less likely to go missing, get hit by cars or suffer wounds from fights.
                    </li>
                    <li>
                        For male cats, neutering reduces their chance of catching terminal viruses which are spread by
                        saliva - most frequently from bite wounds while fighting.
                    </li>
                    <li>
                        Companions who are not neutered and are confined can become frustrated and unhappy. They will
                        often make determined efforts to escape and as a result may fall out of windows, go missing or
                        be involved in traffic accidents.
                    </li>
                </ul>
            </li>
            <li>
                <h4>For your Own Sake</h4>
                <hr>
                <p>The decision whether to neuter your companion can affect more than the animals themselves. If you're
                    thinking of not neutering, you should consider the following:</p>
                <ul class="inner-list">
                    <li>
                        For guardians of an unspayed female there is the permanent stress of ensuring that she doesn't
                        become pregnant. If she does become pregnant, there is the added responsibility and worry of
                        having to care for her through pregnancy, birth and the rearing of her litter - before facing
                        the challenge of finding good homes for the puppies or kittens. (You might want to reflect on
                        the facts that a female cat can produce up to six kittens, three times a year, or that some
                        breeds of dog can have as many as 12 puppies in a litter.)
                    </li>
                    <li>
                        Bitches in heat can be messy, producing a bloody discharge for three weeks or more,and attract a
                        constant stream of hopeful male dogs to the front door.
                    </li>
                    <li>
                        Female cats, if not spayed or mated, often come into season over and over again, so that they
                        may be almost continuously on heat. This can be exhausting for both the cats and their guardians
                        and usually attracts many amorous and vocal tomcats to the house.
                    </li>
                    <li>
                        Entire male cats will frequently mark their territory with a powerful and unpleasant scented
                        urine, not normally produced by neutered male cats. Bear in mind they may consider your house
                        part of their territory!
                    </li>
                    <li>
                        Male dogs have been known to break down doors and fences in their attempts to escape and go
                        after bitches in heat. In the absence of a suitable companion, they are not too fussy about
                        where they redirect their amorous intentions either, frequently mounting their toys, the
                        furniture or their owner's legs. They are also much more likely to show aggression to other
                        dogs.
                    </li>
                </ul>
            </li>
        </ul>
        <h2>
            Neutering FAQs
        </h2>
        <hr>
        <h4>
            Will my companion's personality change?
        </h4>
        <p>
            No, but unwanted behaviours may be reduced, such as roaming, mounting, fighting or urine spraying. The
            primary influence on an animal's personality is training and care.
        </p>
        <h4>
            What about the risks of surgery?
        </h4>
        <p>
            Every surgical procedure carries a small degree of risk, but modern anaesthetic and surgical techniques are
            very safe. The risks, both short and long term, from not neutering your companion - from cancers, fighting,
            road accidents and unwanted pregnancies - are greater than those associated with neutering.
        </p>
        <h4>
            Should I let my companion have one litter before having her neutered?
        </h4>
        <p>
            No! This is a common myth - there is no good reason for letting your companion have one litter before she is
            spayed. Dogs and cats do not form a lifelong bond with their offspring, like most people do, and don't miss
            the experience. Just one litter hurts - thousands of animals every year.
        </p>
        <h4>
            Will my companion get fat after being neutered?
        </h4>
        <p>
            No. Your companion doesn't get fat from neutering, but from too much food and not enough exercise.
        </p>
        <h4>
            When should my companion have the operation?
        </h4>
        <p>
            Generally speaking, as early as possible. Most veterinarians recommend that a female be spayed before her
            first oestrus or 'heat' period (around 4-6 months of age). A male dog or a tomcat can be neutered at 6
            months to a year old, but there is no harm in treating him earlier. Younger animals tend to recover much
            faster from the procedure. Your vet can recommend the best time for your pet.
        </p>
    </div>
</section>

{% endblock %}