{% extends 'base.html' %}
{% block content %}
<section class="post-section">
    <div class="post-header">
        <h1>Applications</h1>
    </div>
    <div class="post-div">
        {% for post in object_list %}
        <a class="post-link" href="{% url 'dog_form_details' post_id=post.id %}">
            <div class="card">
                <div class="card__body">
                    <h4>{{ post.name }}</h4>
                    <p>{{ post.email }}</p>
                    <p>{{ post.id }}</p>
                </div>
                <div class="card__footer">
                    <div class="user">
                        <div class="user__info">
                            <small>{{ post.applied_on }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</section>
{% endblock %}