{% extends 'base.html' %}
{% block content %}
<section class="form-section">
    <div class="post-form">
        <h1>
            TNR - ( Trap - Neuter - Return)
        </h1>
        <p>
            Trap Neuter Return (TNR) (aka Trap Neuter Release) is becoming recognised as an efficient and cost-effective
            tool for controlling and reducing feral cat populations. The concept is simple - trap the cats, spay or
            neuter and eartip them, then return those cats to the colony/area where they were found. As the cats can no
            longer reproduce, the colony diminishes in size over time. Additionally, by reducing or eliminating mating,
            the behaviour of unsterilized animals that includes fighting and wandering (looking for mates) is
            eliminated.

            TNR not only controls the unchecked growth of unsterilized animals, it improves the health, behaviour and
            quality of life of the affected animals.
        </p>

        <h2>
            Feral Cats
        </h2>
        <p>
            Millions of cats who make their home outdoors are known as feral cats.

            Feral cats are domestic cats. Like pet cats and stray cats. The difference is that feral cats are not
            socialised to people, and so they are wary of us and cannot be adopted. They have a home - the outdoors.

            And, there is a simple way you can help them: Trap Neuter Return. This program ends reproduction, stabilizes
            colony populations, and improves cats' lives. The behaviours and stresses associated with mating -
            pregnancy, yowling, spraying, and fighting - stop. And there are no new litters of kittens.
        </p>
        
        <h3>
            Benefits of TNR include
        </h3>
        <ul class="inner-list">
            <li>Smaller feral cat colonies</li>
            <li>Fewer public nuisance problems</li>
            <li>Decreased shelter kill rates</li>
            <li>Lower animal control costs</li>
            <li>Improved lives for stray and feral cats.</li>
        </ul>
        <h4>Related Links</h4>
        <ul class="inner-list">
            <li><a href="http://www.animaladvocacy.ie/" target="_blank">Animal Advocacy Ireland</a></li>
            <li><a href="hhttp://www.alleycat.org/page.aspx?pid=359" target="_blank">Alley Cat Allies Educational
                    Tools</a></li>
            <li><a href="http://www.straypetadvocacy.org/" target="_blank">Stray Pet Advocacy</a></li>
        </ul>
    </div>
</section>

{% endblock %}